@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

:root {
  --orange: hsl(26, 100%, 55%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --paleOrange: hsl(25, 100%, 94%);
  --darkBlue: hsl(220, 13%, 13%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --paragraphFont: 16px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;;
}

@media only screen and (max-width: 375px) {
  header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 1.5rem; */
  }

  .hamburger-menu > img {
    padding-left: 2rem;
  }

  h1 {
    margin: 0;
    padding-right: 5rem;
    font-size: 20px;
    font-weight: 700;
  }

  .cart > img {
    height: 1.3rem;
    padding-right: 1rem;
  }

  .user > img {
    width: 45px;
    padding-top: 0.5rem;
    padding-right: 2rem;
  }

  .product-image {
    background-image: url(./images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 21rem;
  }

  .previous-container, .next-container {
    display: inline-block;
    transform: translate(2rem, 10rem);
    width: 9%;
    height: 10%;
    border: 2px solid var(--white);
    border-radius: 55%;
    background-color: var(--white);
  }

  .next-container {
    transform: translate(16.4rem, 9.5rem);
  }

  .previous, .next {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .next {
    margin-left: 0.7rem;
  }

  .content {
    margin-left: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .content > h3 {
    color: var(--orange);
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: -0.5rem;
  }

  .content > h2 {
    color: var(--darkBlue);
    text-transform: capitalize;

  }

  .content > p {
    font-size: 16px;
    color: var(--darkGrayishBlue);
    line-height: 1.5rem;
    text-align: justify;
  }

  .prices {
    margin-top: 1.7rem;
  }

  .amount {
    font-size: 23px;
    font-weight: 700;
  }

  .discount {
    margin-left: 1.8rem;
    font-size: 18px;
    font-weight: 700;
    color:  var(--orange);
    border: 1px solid var(--paleOrange);
    padding: 0.2rem 0.5rem;
    background-color: var(--paleOrange);
    border-radius: 7px;
  }

  .old-price {
    margin-left: 7.2rem;
    color: var(--grayishBlue);
    font-weight: 700;
    text-decoration: line-through;
  }

  .arithmetic {
    display: flex;
    justify-content: space-around;
    background-color: var(--lightGrayishBlue);
    margin-top: 2rem;
    padding: 0.9rem 0;
    border-radius: 0.8rem;
  }

  .arithmetic span {
    font-size: 22px;
    font-weight: 700;
  }

  .arithmetic span:nth-child(odd) {
    color:  var(--orange);
  }

  .add-button {
    width: 100%;
    background-color: var(--orange);
    margin-top: 2rem;
    padding: 0.9rem 0;
    border: 1px solid var(--orange);
    border-radius: 0.8rem;
    font-size: 16px;
    color: var(--white);
    margin-bottom: 4rem;
  }

  .empty-cart {
    position: absolute;
    top: 4rem;
    /* visibility: hidden; */
    width: 92%;
    background-color: var(--white);
    height: 18rem;
    margin-left: 1rem;
    border-radius: 11px;
  }

  .empty-cart h3 {
    margin-left: 2rem;
    padding-bottom: 0.3rem;
  }

  .empty-cart span {
    display: block;
    border: 0.5px solid var(--lightGrayishBlue);  }

  .empty-cart p {
    text-align: center;
    transform: translate(0, 66px);
    font-weight: 700;
    color: var(--darkGrayishBlue);
  }

}
