@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');

:root {
  --orange: hsl(26, 100%, 55%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --paleOrange: hsl(25, 100%, 94%);
  --darkBlue: hsl(220, 13%, 13%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --paragraphFont: 16px;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;;
}

.mobile-view {
  display: none;
}

.previous, .next {
  display: none;
}

/* .empty-cart {
  display: none;
}

.full-cart {
  display: none;
} */

.content {
  display: none;
}

.empty-cart, .full-cart {
  display: block;
  position: absolute;
  top: 5.5rem;
  left: 64rem;
  width: 20%;
  background-color: var(--white);
  height: 12rem;
  margin-left: 1rem;
  border-radius: 11px;
  box-shadow: 1px 2px 9px 0px #a9a7a7;
}

.popup-cart:hover {
  cursor: pointer;
}

.empty-cart h3, .full-cart h3 {
  margin-left: 2rem;
  padding-bottom: 0.3rem;
}

.empty-cart span, .full-cart-line {
  display: block;
  border: 0.5px solid var(--lightGrayishBlue);
}

.empty-cart p {
  text-align: center;
  transform: translate(0, 66px);
  font-weight: 700;
  color: var(--darkGrayishBlue);
  margin: 0;
}

  /* Header Section */

header {
  background-color: var(--white);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-top: 1.5rem;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1467px;
}

.hamburger-menu > img {
  display: none;
}

.cart > img {
  height: 1.3rem;
  padding-right: 1rem;
}

.user > img {
  width: 45px;
  padding-left: 1.5rem;
}

.laptop-text {
  margin-right: 23rem;
}

.laptop-text span {
  padding: 0 1rem;
}

h1 {
  padding-right: 4rem;
}

/* laptop-line */

.laptop-line {
  border: 1px solid var(--lightGrayishBlue);
  /* margin: 0 10rem; */
  /* max-width: 1467px; */
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.laptop-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.laptop-flex-cover {
  max-height: 565px;
  max-width: 445px;
}

.laptop-flex-img-cover{
  width: 30rem;
}

.laptop-flex-img {
  width: 75%;
  height: 22rem;
  border-radius: 10px;
}

.thumbnails {
  width: 80%;
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.thumbnails img {
  width: 20%;
  height: 30%;
  border-radius: 13%;
}

.laptop-div {
  width: 25rem;
  /* padding-left: 5rem; */
}

.laptop-flex h3 {
  color: var(--orange);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: -0.5rem;
}

.laptop-flex h2 {
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--darkBlue);
  text-transform: capitalize;
  width: 21rem;
  font-size: 2rem;
}

.laptop-flex p {
  font-size: 16px;
  color: var(--darkGrayishBlue);
  line-height: 1.5rem;
  text-align: justify;
}

.laptop-flex .amount {
  font-size: 23px;
  font-weight: 700;
}

.laptop-flex .discount {
  font-weight: 700;
  color:  var(--orange);
  border: 1px solid var(--paleOrange);
  padding: 0.2rem 0.5rem;
  background-color: var(--paleOrange);
  border-radius: 7px;
  margin-left: 0.8rem;
}

.laptop-flex .old-price {
  color: var(--grayishBlue);
  font-size: 18px;
  font-weight: 700;
  text-decoration: line-through;
  margin-top: 0.5rem;
}

.button-flex {
  display: flex;
}

.laptop-arithmetic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lightGrayishBlue);
  width: 9rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 0.6rem;
  /* margin-top: 2rem;
  padding: 0.9rem 0;
  border-radius: 0.8rem; */
}

.laptop-arithmetic span {
  font-size: 22px;
  font-weight: 700;
}

.laptop-arithmetic span:nth-child(odd) {
  color:  var(--orange);
}

.button-flex .add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  background-color: var(--orange);
  /* margin-top: 2rem;
  padding: 0.9rem 0; */
  border: 1px solid var(--orange);
  border-radius: 0.5rem;
  /* font-size: 16px; */
  color: var(--white);
  /* margin-bottom: 4rem; */
}

.add-button p {
  color: var(--white);
  margin: 0;
}

@media only screen and (max-width: 425px) {
  .mobile-view {
    display: block;
  }

  .laptop-flex {
    display: none;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }

  .laptop-text {
    display: none;
  }

  .hamburger-menu > img {
    display: block;
    padding-left: 2rem;
  }

  h1 {
    margin: 0;
    padding-right: 5rem;
    font-size: 20px;
    font-weight: 700;
  }

  .user > img {
    width: 37px;
    padding-top: 0.5rem;
    padding-right: 2rem;
  }

  .cart > img {
    padding-right: 0;
  }

  .product-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/image-product-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 21rem;
  }

  .previous-container, .next-container {
    /* display: inline-block;
    transform: translate(2rem, 10rem); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-color: var(--white);
  }
  /* 
  .next-container {
    transform: translate(16.4rem, 9.5rem);
  }

  .previous, .next {
    display: block;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .next {
    margin-left: 0.7rem;
  } */

  .previous, .next {
    display: block;
  }

  .previous-container {
    margin-left: 5%;
  }

  .next-container {
    margin-right: 5%;
  }

  .content {
    display: block;
    margin-left: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .content > h3 {
    color: var(--orange);
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: -0.5rem;
  }

  .content > h2 {
    color: var(--darkBlue);
    text-transform: capitalize;

  }

  .content > p {
    font-size: 16px;
    color: var(--darkGrayishBlue);
    line-height: 1.5rem;
    text-align: justify;
  }

  .prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.7rem;
  }

  .amount {
    font-size: 23px;
    font-weight: 700;
  }

  .discount {
    font-size: 18px;
    font-weight: 700;
    color:  var(--orange);
    border: 1px solid var(--paleOrange);
    padding: 0.2rem 0.5rem;
    background-color: var(--paleOrange);
    border-radius: 7px;
  }

  .old-price {
    color: var(--grayishBlue);
    font-weight: 700;
    text-decoration: line-through;
  }

  .arithmetic {
    display: flex;
    justify-content: space-around;
    background-color: var(--lightGrayishBlue);
    margin-top: 2rem;
    padding: 0.9rem 0;
    border-radius: 0.8rem;
  }

  .arithmetic span {
    font-size: 22px;
    font-weight: 700;
  }

  .arithmetic span:nth-child(odd) {
    color: var(--orange);
  }

  .add-button {
    width: 100%;
    background-color: var(--orange);
    margin-top: 2rem;
    padding: 1.1rem 0;
    border: 1px solid var(--orange);
    border-radius: 0.6rem;
    font-size: 16px;
    color: var(--white);
    margin-bottom: 4rem;
  }

  .empty-cart, .full-cart {
    display: block;
    position: absolute;
    top: 4.5rem;
    left: 0;
    /* visibility: hidden; */
    width: 92%;
    background-color: var(--white);
    height: 18rem;
    margin-left: 1rem;
    border-radius: 11px;
    box-shadow: none;
  }

  /* .full-cart {
    visibility: hidden;
  } */

  .empty-cart h3, .full-cart h3 {
    margin-left: 2rem;
    padding-bottom: 0.3rem;
  }

  .empty-cart span, .full-cart-line {
    display: block;
    border: 0.5px solid var(--lightGrayishBlue);
  }

  .empty-cart p {
    text-align: center;
    transform: translate(0, 66px);
    font-weight: 700;
    color: var(--darkGrayishBlue);
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .flex h4 {
    margin-bottom: 0.5rem;
    color: var(--darkGrayishBlue);
  }

  .checkout-image {
    width: 23%;
    height: 25%;
    margin-top: 2rem;
    border-radius: 3px;
    /* transform: scale(3);
    margin-left: 1rem; */
  }

  .trash {
    color: hsl(0deg 0% 73%);
    padding-top: 2.5rem;
  }

  .full-cart button {
    width: 90%;
    margin-left: 1rem;
    background-color: var(--orange);
    margin-top: 2rem;
    padding: 0.9rem 0;
    border: 1px solid var(--orange);
    border-radius: 0.6rem;
    font-size: 16px;
    color: var(--white);
  }

  .light-text {
    color: var(--darkGrayishBlue);
    font-weight: 700;
  }

  .dark-text {
    color: var(--darkBlue);
    font-weight: 700;
    padding-left: 0.5rem;
  }

}
